:root {
    --bl: #fff;
    --gris: #f5f5f5;
    --verd-c: #089c30;
    --nar: #ff9a0a;
    --gr-hover: #dcdcdc;
    --gr-muy-os: #333;
    --fuentePrincipal: 'Raleway', sans-serif;

}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;

}

html {
    font-family: var(--fuentePrincipal);

}

/* Estilos generales para el header */
.header__container {
    background-color: var(--gris);
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.container {
    width: 100%;

}

.container__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Esto separará los elementos a cada extremo */
    padding-right: 20rem;
    padding-left: 20rem;
}

.content__logo a img,
.content__safe img {
    max-height: 50px;
}

.content__logo {
    order: 1;
    /* Esto colocará el logo del content__logo al principio */
}

.content__safe {
    text-align: center;
    order: 2;
    /* Esto colocará el otro logo después del content__logo */
}

.content__safe-text {
    display: block;
    text-align: center;
}

/*cart*/
.cart__container {
    width: 1170px;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

/*#cart-items {
    text-align: justify;
    float: left;
    width: calc(50% - 20px); 
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho 
}*/

.cart-total--cards {
    width: 40%;
    /* Ajusta el ancho según sea necesario */
    text-align: left;
    /* Alinea el contenido a la izquierda */

}

.cart-cards img {
    width: 100px;
    /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin: 1rem;
}

.cart-total-container {
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio equitativamente entre los elementos hijos */
    align-items: center;
    /* Alinea los elementos verticalmente en el centro */
    padding: 20px;
    background-color: var(--gris);
    /* Color de fondo del contenedor */
}

#cart__total--container {
    width: 40%;
    /* Ajusta el ancho según sea necesario */
    padding: 20px;
    box-sizing: border-box;
    /* Asegura que el padding se incluya en el ancho */
    text-align: right;
    /* Alinea el contenido a la derecha */

}

#cart__total--container>p {
    font-size: 1.5rem;
}

#cart-empty-message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2rem;
    color: var(--gr-muy-os);
}

#cart__confirmation h2 {
    padding: 2rem;
    border-bottom: 5px solid var(--gr-hover);
    ;
}

ul {
    list-style-type: none;
    padding: 0;
    color: var(--gr-muy-os);
    text-align: center;
    font-weight: 800;
    font-size: 1.4rem;
}

.cart__more {
    display: inline-block;
    /* Cambiamos a inline-block para que el ancho se ajuste al contenido */
    margin: 2rem;
    padding: 10px 20px;
    /* Añadimos un relleno al botón */
    color: var(--gr-muy-os);
    background-color: var(--nar);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    /* Quitamos subrayado por defecto */
    transition: background-color 0.3s;
    /* Transición suave para el cambio de color de fondo */
}

.cart__more:hover {
    background-color: var(--gr-hover);
    /* Cambiamos el color de fondo al hacer hover */
}

.pago {
    width: 60%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #089c30;
    color: var(--bl);
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.pago:hover {
    background-color: #067623;
}



.cart-product-image {
    width: 100px;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    /* Mantiene la proporción de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

/* Estilo para el contenedor del ítem del carrito */
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    /* Línea separadora entre los ítems */
    padding-bottom: 10px;
}

/* Estilo para el texto del ítem del carrito */
.cart-item-text {
    text-align: left;
    font-size: 16px;
    /* Ajusta el tamaño del texto según sea necesario */
}

/* Estilo para el contenedor del carrito */
.cart-dropdown {
    height: auto;
    max-width: 1100px;
    /* Ajusta el ancho máximo del contenedor del carrito */
    margin: 2rem;
    /* Centra el contenedor del carrito */
    padding: 20px;
    background: #fff;
    /* Fondo blanco */
    border: 1px solid #ccc;
    /* Borde del contenedor */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra para el contenedor */
}

.pagos {
    width: 50%;
}

#cart-empty-message {
    display: none;
}

.quantity {
    width: 1rem;
    text-align: center;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item img {
    margin-right: 15px;
}

.cart-item .description {
    display: flex;
    align-items: center;
}

.cart-item .description span {
    margin-left: 10px;
    font-weight: bold;
}

.description__quant {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.description__quant input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
}

.cart-item .remove-item {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

/*footer*/
.section__footer {
    display: flex;
    background-color: var(--gr-muy-os);
    color: var(--bl);
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    text-align: justify;
}

.footer__contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer__contenedor:first-child {
    padding-left: 5rem;
}

.section__footer h3 {
    font-size: 1.5rem;
}

.section__footer p {
    font-size: 15px;
    line-height: 1.5rem;
}

.footer__contenedor a {

    text-decoration: none;
    color: var(--bl);
}

.footer__contenedor a:hover,
.cart-checkout:hover {
    color: var(--nar);
}

footer a {
    margin-bottom: 1rem;
}

.footer__icon {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer__follow i {
    padding-right: 4px;
    cursor: pointer;
}

.pagos {
    margin: 10px 0 15px 0;
}

.footer_copyright {
    flex: 1 1 100%;
    text-align: center;
    margin-top: 20px;
}


/*footer*/
@media (max-width: 769px) {

    /*footer*/
    .section__footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__contenedor {
        text-align: center;
        /* Centro el contenido dentro de cada contenedor */
        align-items: center;
    }

    .footer__contenedor:first-child {
        padding-left: 0;
    }
}

.price-remove-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.remove-item {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    position: relative;
    left: 32rem;
    top: -8rem;
}